main {
    text-align: center;           /* Center the main title and subtitle <center> tag is not supported by HTML5 */
}

.skeletonSketch {
    display: block; /* Element takes all available width */
    margin: 20px auto; /* Centers the element horizontally and adds vertical spacing */
    width: 300px;
    height: 300px;
}

.skeletonSketch rect { /* For elements of type rect within class1 */
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.skeletonSketchLabel {
    text-align: center;
}

/* === Sidebar === */
#sidebar {
    position: fixed;              /* Comes with scrolling */
    left: 0;                      /* Makes sure all sidebar is properly hidden */
    top: 0;
    height: 100%;
    width: 220px;
    z-index: 100;
    transform: translateX(-100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out;  /* Smooth slide */
    padding-top: 30px;          /* Space for the button */
    background-color: #091f36;
    color: white;
}

#sidebar.active{ 
    transform: translateX(0); /* Show the sidebar when active */
}

#sidebar-button {
    position:fixed;
    z-index: 200; /* Button above sidebar */
}

#sidebar ul li {
    padding: 10px 0px;  /* Y and X padding for list items */
}

/* === Leaflet map container ===*/
#map {
    height: 800px;
}

/* === Podium page === */
#podium {
    text-align: center;      /* Centres title, image, and text */
}

.table-wrapper {
    display: flex; /* Flex items for table elements */
    justify-content: center; /* Centre table horizontally */
}

table {
    border: 2px solid #b40ec0;    /* Border encapsulating all of table */
    border-collapse: collapse; /* Merges common borders */
    border-radius: 10px; /* Rounded corners for the table */
    overflow: hidden; /* Needed to ensure rounded corners are visible due to border-collapse */
}

th {
    border: 1px solid #c6e70e; /* Boxes the column titles */
}

td {
    border: 1px solid #36d909; /* Boxes the data cells */
}

thead {
    background-color: #091f36;  /* Background color for column titles */
    color: white;               /* Text color for column titles */
}

tbody tr:hover { /* Apply style for hovering over a row in the table body */
    background-color: #ec3e04; 
    cursor: pointer;            /* Change cursor to indicate interactivity */
}

#sort-event {
    cursor: pointer;  /* Change cursor to indicate interactivity */
    user-select: none; /* Prevent text selection on click (very useful!) */
}

#sort-arrow {
    margin-left: 6px; /* Space between the text and the arrow */
    color: #b40ec0; /* Color of the arrow */
}

/* === Discipline grid === */
#discipline-grid {
    display: grid;                          /* Grid mode (avoids simple piling up) */
    grid-template-columns: repeat(8, 1fr); /* 8 columns */
    grid-template-rows: repeat(2, auto);   /* 2 rows */
    gap: 16px;                             /* Space between each cell */
    padding: 20px;                         /* Space around the grid */
}

.discipline-card {
    display: flex;
    flex-direction: column;                /* Image up, Text down */
    align-items: center;                   /* Center horizontally */
    cursor: pointer;                       /* Change cursor to indicate interactivity */
}

.discipline-card img {
    width: 100%;                           /* Image takes up the full width of the cell */
    aspect-ratio: 1 / 1;                   /* Force a square shape */
    object-fit: cover;                     /* Crop the image to fit without distorting */
    border-radius: 8px;                    /* Rounded corners */
}

.discipline-card text {
    margin-top: 6px;                       /* Space between image and name */
}

.discipline-card.selected{
    filter: brightness(0.5);     /* Darken the card */
}

.discipline-card.selected text{
    color: #ea0707;     /* Color the text */
}

.discipline-card:hover{
    transform: scale(1.05);
}

/* === Introduction bubbles === */
#intro-bubbles {
    display: flex;
    justify-content: center;
    gap: clamp(40px, 2.5vw, 100px); /* Space between two bubbles */
}

.bubble-card {
    flex: 1; /* Each bubble takes equal space */
    aspect-ratio: 1 / 1; /* Force a square shape ==> keeps it a circle */
    border-radius: 50%; /* To make it a circle */
    display: flex;
    flex-direction: column; /* Put value and text on same column */
    justify-content: center; /* Put text on centre on y-axis */
    align-items: center; /* Put text on centre on x-axis */
    text-align: center; /* Center text inside the bubble */

    /* Animations */
    animation: bubbling 4s ease-in-out infinite;
}

/* Animation itself */
@keyframes bubbling {
    0%   { transform: translateY(0) scale(1); }
    25%  { transform: translateY(-5px) scale(1.05); }
    50%  { transform: translateY(-10px) scale(1); }
    75%  { transform: translateY(-5px) scale(0.95); }
    100% { transform: translateY(0) scale(1); }
}

/* Delay animations */
.bubble-card:nth-child(1) { animation-delay: 0s; }
.bubble-card:nth-child(2) { animation-delay: 0.4s; }
.bubble-card:nth-child(3) { animation-delay: 0.8s; }
.bubble-card:nth-child(4) { animation-delay: 1.2s; }
.bubble-card:nth-child(5) { animation-delay: 1.6s; }


.bubble-value {
    font-size: clamp(64px, 2.5vw, 128px);
    font-weight: bold;
}

.bubble-text {
    font-size: clamp(32px, 2.5vw, 64px);
}

/* === Filters badge === */
#selected-discipline-badge {
    position: fixed;              /* Stays in place when scrolling */
    background-color: #091f36;   /* Background color badge */
    color: white;                /* Text color */
    border: 2px solid #b40ec0; 
    border-radius: 12px; /* Rounded corners */
    padding: 12px 20px; /* Badge size (height x width) */
    top: 20px; /* Badge position from top of the page */
    right: 20px; /* Badge position from right of the page */
}

/* === Conclusion bubbles === */
#conclusion-bubbles {
    width: 800px;
    height: 500px;
    margin: 0 auto;              /* Centre box on x-axis */
    background-color: #091f36;  
    border: 2px solid #b40ec0;  
    border-radius: 16px;         /* Round corner */
    overflow: hidden;            /* Les bulles ne débordent pas hors de la box */
    position: relative;          /* Nécessaire pour positionner les bulles à l'intérieur */
}


/* === Gender symmetrical bar plots === */
#symmetrical-gender-discipline {
    display: flex;
    justify-content: center;
}

#symmetrical-gender-event {
    justify-content: center;
    margin-top: 40px
}

.sg-tooltip {
    position: absolute;      
    background-color: #091f36;
    border: 2px solid #b40ec0;
    border-radius: 8px;
    padding: 10px 14px;       /* For text within tooltip */
    color: white;
    font-size: 13px;
    pointer-events: none;     /* Otherwise blinking */
}